.header{
    background: rgb(13, 13, 49);
    height: 8rem;
    color: white;
}
.logo{
    width: 15rem;
}
.list{
    display:flex;
    align-items: center;
    height: 100%;

}
.list li{
    list-style-type: none;
    margin-left: 1.6rem;
    font-size: 1.7rem;
    color: #fff;
}
.menu-icon{
    width: 4rem;
    color: white;
}
.icon{
    display: none;
}
@media screen and (max-width:868px){
    .logo{
        width: 10rem;
    }
    .icon{
        display: block;
    }
    .list{
        position: absolute;
        transform: translateY(-90rem);
    }
    .ul{
        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        background: rgba(24, 27, 79, 0.671);
        display: block;
        z-index: 3;
        text-align: center;
        margin: 0;
        padding: 0;
        transition: .6s all;
        transform: translateY(0);
    }
    .close{
        transform: translateY(-90rem);
        /* display: hidden; */
    }
    .ul li{
        margin: 2rem auto;
        padding: 1rem 0;
        width: 90%;
        transition: .3s all;
    }
    .ul li:hover{
        background: rgb(40, 43, 60);
        border-radius: .5rem;
    }
}