.sticky-header {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 44;
}

.header {
    background: rgb(13, 13, 49);
    height: 8rem;
    color: white;
}

.logo {
    width: 15rem;
}

.list {
    display: flex;
    align-items: center;
    height: 100%;

}

.list li {
    list-style-type: none;
    margin-left: 1.6rem;
    font-size: 1.7rem;
    color: #fff;
}
.active{
    position: relative;
    color: #f30a46;
    /* border-bottom: .1rem solid green; */
    padding-bottom: .5rem;
    text-decoration: none;
}
.active::before{
    content: '';
    position: absolute;
    width:70%;
    height: .2rem;
    background-color: #f30a46;
    top: 100%;
}
.active-none{
    color: #fff;
    text-decoration: none;
}
.log-btn{
    border: none;
    padding: 1.2rem 2rem ;
    background: rgba(49, 62, 105, 0.845);
    color: #fff;
    font-size: 1.7rem;
    border-radius: 10rem;
    margin-left: 1rem;
}
.menu-icon {
    width: 4rem;
    color: white;
}

.icon {
    display: none;
}



@media screen and (max-width:868px) {
    .logo {
        width: 10rem;
    }

    .icon {
        display: block;
    }

    .list {
        position: absolute;
        transform: translateY(-90rem);
    }

    .ul {
        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(24, 27, 79, 0.894);
        display: block;
        z-index: 3;
        text-align: center;
        margin: 0;
        padding: 0;
        transition: .6s all;
        transform: translateY(0);
    }

    .close {
        transform: translateY(-90rem);
        /* display: hidden; */
    }

    .ul li {
        margin: 2rem auto;
        padding: 1rem 0;
        width: 90%;
        transition: .3s all;
    }

    .ul li:hover {
        background: rgb(40, 43, 60);
        border-radius: .5rem;
    }
}