.contact-banner{
    background-image: url('../../images/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
}
.contact-header{
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    z-index: 44;
}
.alones{
    color: #f30a46;
}