html{
  font-size: 62.5%;
}
body{
  overflow-x: hidden;
}
@media screen and (max-width:992px){
  html{
    font-size: 50%;
  }
  
}
/* @media screen and (max-width:768px){
  html{
    font-size: 55%;
  }
  
}
 */